<div class="d-flex flex-column align-items-center justify-content-center">
    <h2 class="text-danger mt-5">Không được phép truy cập</h2>
    <h6 class="text-danger mb-5">Bạn không có quyền để truy cập tài nguyên này</h6>
    <img src="~/Images/accessdenied.png" style=" width:300px; object-fit: cover; object-position:center" />
</div>